<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [routerLinkActive]="['active']" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="col-1 navbar-brand" [routerLink]="['']">Ogłoszenia.pl</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['']">Użytkownicy</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['categories']">Kategorie</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['advertisement']">Ogłoszenia</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['comment']">Komentarze</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['massage']">Wiadomości</a>
      </li>
    </ul>
  </div>
</nav>

<div class="mx-1 mt-3 mx-lg-5 mt-4">
  <router-outlet></router-outlet>
</div>

<footer class="footer-copyright clearfix bg-primary text-center py-2">
  <h4 class="text-light">© 2020 Copyright: Kamil Dziok</h4>

</footer>
